.alpha{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.appointment{
    position: fixed;
    bottom: 10px;
}
.appointment a{
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 50px;
    text-decoration: none;
    transition: all ease 0.5s;
    color: white;
}
.appointment a:hover{
    background-color: orange;
    border: 2px solid orange;

}